*{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body {
    background-color: black;
    background: url('../images/afbeeldingen/topbanner50.jpg') no-repeat center center fixed;    
    background-size: cover;
    font-family: europa, Segoe UI;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
#hexagonlogo {
    position: relative;
    margin-left: 50%;
    margin-top: 35px;
    transform: translate(-50%, 0);
    width: 114px;
}
#menu_icon {
    position: absolute;
    box-sizing: border-box;
    margin-left: 25px;
    margin-top: 25px;
    width: 32px;   
}
.change.menu_icon {
    width: 50px;
}