body {
    background-color: black;
    background: url('../images/afbeeldingen/topbanner50.jpg') no-repeat center center fixed;    
    background-size: cover;
    font-family: europa, Segoe UI;
}
#hexagonlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 216px;
    height: 34.848px;
}
#Hexagon_logo_Don_Diablo_vector {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 68px;
    height: 80px;    
}
#register_block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    width: 400px;
    height: 420px;
    overflow: visible;
    background-color: rgba(255,255,255,0);
}
#fields {
    padding-top: 60px;
}
.field {    
    width: 400px;
    height: 30px;
    margin-top: 15px;
    padding: 10px;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 20px; 
    border: white;
}
#reset{
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
    color: rgba(255,255,255,1);
}
#send-email{
    font-size: 18px;
    text-align: center;
    color: rgba(255,255,255,1);
}
#service_agreement {
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#login {
    font-size: 16px;
    color: rgba(255,255,255,1);
    text-align: center;
    padding-top: 20px;
}
#register {
    font-size: 16px;
    color: rgba(255,255,255,1);
    text-align: right;
    padding-top: 20px;
}
.button {
    display: block;
    margin-top: 40px;  
    margin-left: auto;
    margin-right: auto;
    width: 143px;
    height: 61px;
    text-align: center; 
    padding-bottom: 5px;
    font-size: 20px;
    color: rgba(255,255,255,1);
    border-style: solid;
}
