body {
    background-color: black;
    background: url('../images/afbeeldingen/topbanner50.jpg') no-repeat center center fixed;    
    background-size: cover;
    font-family: europa, Segoe UI;
}
#hexagonlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 114px;
}
#Hexagon_logo_Don_Diablo_vector {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 48px;   
}
#register_block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 290px;
    height: 300px;
    overflow: visible;
    background-color: rgba(255,255,255,0);
}
#fields {
    padding-top: 30px;
}
.field {
    width: 270px;
    height: 15px;
    margin-top: 15px;
    padding: 10px;
    overflow: visible;
    white-space: nowrap;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 15px; 
    border: white;
}
#reset{
    font-size: 20px;
    text-align: center;
    color: rgba(255,255,255,1);
}
#send-email{
    font-size: 13px;
    text-align: center;
    color: rgba(255,255,255,1);
}
#service_agreement {
    font-size: 13px;
    color: rgba(255,255,255,1);
}
#login {
    font-size: 13px;
    color: rgba(255,255,255,1);
    text-align: center;
    padding-top: 20px;
}
#login_padding{
    padding-top: 50px;
}
#register {
    font-size: 13px;
    color: rgba(255,255,255,1);
    text-align: right;
    padding-top: 20px;
}
.button {
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 136px;
    height: 58px;
    text-align: center; 
    font-size: 17px;
    color: rgba(255,255,255,1);
    border-style: solid;
}


@media (min-width: 410px){
    #hexagonlogo {        
        margin-top: 25px;
        width: 216px;
    }
    #Hexagon_logo_Don_Diablo_vector {        
        margin-top: 80px;
        width: 68px;   
    }
    #register_block {
        margin-top: -40px;
        width: 400px;
        height: 420px;
    }
    #fields {
        padding-top: 60px;
    }
    .field {    
        width: 380px;
        height: 26px;
        margin-top: 15px;
        padding: 10px;
        font-size: 20px;
    }
    #reset{
        font-size: 30px;
    }
    #send-email{
        font-size: 18px;
    }
    #service_agreement {
        font-size: 16px;
    }
    #login {
        font-size: 16px;
        padding-top: 20px;
    }
    #login_padding{
        padding-top: 61px;
    }
    #register {
        font-size: 16px;
        padding-top: 20px;
    }
    .button {
        width: 143px;
        height: 61px;
        padding-bottom: 5px;
        font-size: 20px;
    }
}